.portfolio {
  padding: 6rem 0;

  .portfolio__header {
    position: relative;
    margin-bottom: 8rem;

    .watermark {
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
}
